{% extends 'base.html'%}


{% block content %}

<div class="container mt-5 mb-5"    >
    <h1>VOTE</h1>

    <div class="text-end">
        <a href="{% url 'vote:create' %}"><button class="btn btn-primary">CEATE TOPIC</button></a>
    </div>

    <div class="row">
        {% for i in tlist %}
            <div class="col-sm-3 mt-5">
                <div class="card">
                    <div class="card text-center card-body" {% if user in i.voter.all %} style="background-color: antiquewhite;" {% endif %}>
                        <h5 class="card-title">{{i.subject}}</h5>
                        <p class="card-text">{{i.content}}</p>
                        <a href="{% url 'vote:detail' i.id %}" class="btn btn-outline-primary">{% if user in i.voter.all %} 결과보러가기 {% else %}투표하러가기 {% endif %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>






</div>

{% endblock%}
